.form__container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  font-size: 18px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.form__submit {
  padding: 15px;
  outline: none;
  border: none;
  margin-top: 1rem;
}

.form__textArea {
  font-size: 16px;
  outline: none;
}
